.btn {
  font-weight: 700;
  font-size: 1.1rem;
  background-color: $red;
  margin-bottom: 0.6rem;
  margin-right: 0.3rem;
  color: $main;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: none;
  &--secondary {
    color: rgba($darkgreen, 0.8);
    font-weight: 500;
    background-color: $main;
    border: 1px solid $lightgreen;
  }
}
