.card {
  width: auto !important;
  @mixin atSmall {
    width: 290px !important;
  }
  &__img {
    position: relative;
    overflow: hidden;
    height: 230px !important;
  }
  &__img-el {
    height: 100% !important;
    width: 100%;
    object-position: center;
    object-fit: cover !important;
  }
}
