.generic-container {
  line-height: 1.2;
  margin-bottom: 1rem;
  ul {
    margin: 0;
    padding-left: 2rem;
  }
  li {
    margin-bottom: 0.6rem;
  }
  &__flex-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100px;
  }
}
