/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 0.75rem 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header p {
  position: relative;
  margin: -0.65rem 0 1.5rem 0;
  font-style: italic;
}

header h1 + p {
  font-size: 1.375rem;
}

header h2 + p {
  font-size: 1.25rem;
}

header h3 + p {
  font-size: 1.1rem;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9rem;
}

header p {
  color: rgba(0, 0, 0, 0.75);
}
