/* Image */

.image {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
  border-radius: 4px;
}

.image.left,
.image.right {
  width: 40%;
  max-width: 10rem;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1.5rem 1rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 1rem 1.5rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3rem 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}
