/* List */

ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}

ol li {
  padding-left: 0.25rem;
}

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}

ul li {
  padding-left: 0.5rem;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.5rem 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

dl {
  margin: 0 0 2rem 0;
}

dl dt {
  display: block;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

dl dd {
  margin-left: 2rem;
}

dl.style2 dt {
  width: 25%;
  float: left;
}

dl.style2 dd {
  width: 70%;
  float: left;
}

dl.style2:after {
  content: "";
  display: block;
  clear: both;
}

ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.2);
}
